/* TourList.css */
.TourDetailsContainer {
    padding: 20px;
  }
  
  .paper {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    margin-top: 30px;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #303f9f;
  }
  